/* Padding fix for discord button */

.md-footer-meta__inner.md-grid,
.md-footer-nav__inner.md-grid {
  padding-right: calc(0.4rem + 60px) !important;
}

.try-it {
  color: rgba(0, 0, 0, 0.87);
  min-width: 88px;
  box-sizing: border-box;
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  line-height: 1.4em;
  font-family: 'Menlo', Consolas, 'Liberation Mono', Menlo, Courier, monospace !important;
  border-radius: 2px;
  margin: 5px;
  padding: 4px 8px;
  min-width: 40px;
  font-size: 13px;
  min-height: 20px;
  cursor: pointer;

  user-select: none;
  background-color: #ebebeb;
  color: rgba(58, 58, 58, 0.418);
  pointer-events: none;
  box-shadow: 0;
}

.crate-loaded .try-it {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
  background-color: rgba(126, 87, 194, 0.8);
  color: #fff;
  pointer-events: initial;
}

.try-it:hover {
  background-color: rgba(101, 69, 156, 0.8);
}

[data-md-color-primary='deep-purple'] .md-typeset a {
  color: #697ec7;
}

[data-md-color-primary='deep-purple'] .md-nav__link--active,
[data-md-color-primary='deep-purple'] .md-nav__link:active {
  color: #a8bcff !important;
}

[data-md-color-accent='deep-purple'] .md-nav__link:focus,
[data-md-color-accent='deep-purple'] .md-nav__link:hover,
[data-md-color-accent='deep-purple']
  .md-typeset
  .footnote
  li:hover
  .footnote-backref:hover,
[data-md-color-accent='deep-purple']
  .md-typeset
  .footnote
  li:target
  .footnote-backref,
[data-md-color-accent='deep-purple'] .md-typeset .md-clipboard:active:before,
[data-md-color-accent='deep-purple'] .md-typeset .md-clipboard:hover:before,
[data-md-color-accent='deep-purple'] .md-typeset [id] .headerlink:focus,
[data-md-color-accent='deep-purple'] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent='deep-purple'] .md-typeset [id]:target .headerlink {
  color: #8da0dc;
}

[data-md-color-primary='deep-purple'] .md-header,
[data-md-color-primary='deep-purple'] .md-hero,
[data-md-color-primary='deep-purple'] .md-tabs {
  background-color: #5a6179;
}


iframe {
  border: none;
  width: 100%;
}
